<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Untitled Document</title>
<link rel="stylesheet" type="text/css" href="style.css">
</head>

<body>
<div class="team-section">
<h1> Our Team </h1>
<span class="border"></span>
<div class="ps">
<a href="#p1"><img src="pandey.jpg" alt="" width="140px" height="150px"/></a>
<a href="#p2"><img src="manish.jpg" alt="" width="140px" height="150px"/></a>
<a href="#p3"><img src="pokharel.jpg" alt="" width="140px" height="150px" /></a>
</div>
<div class="section" id="p1">
<span class="name">Neha Pandey</span>
<span class="border"></span>
<p>BSc. CSIT Third year students from St. Xavier's College collaborated to develop a web based tourism appplication.</p>
</div>
<div class="section" id="p2">
<span class="name">Manish Wagle</span>
<span class="border"></span>
<p> BSc. CSIT Third year students from St. Xavier's College collaborated to develop a web based tourism appplication. </p>
</div>
<div class="section" id="p3">
<span class="name">Neha Pokharel</span>
<span class="border"></span>
<p>BSc. CSIT Third year students from St. Xavier's College collaborated to develop a web based tourism appplication. </p>
</div>
</div>
</body>
</html>
